

.guideBot {
	display: -webkit-flex;
  	display: flex;
    align-items: center;
    justify-content: center;
}
.guideBot img{
	max-width: 100%;
	height: 44px;
	width: 44px;
    -webkit-flex: none;
    flex: none;
}
.chat{
	margin-left: 11px;
	  -webkit-flex: 1;
          flex: 1;
}
.userName {

}