body {
	margin: 0px;
	width: 100%;
	max-width: 768px;
}

.navBox {
	background-color: #145972;
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: white;
	height: 55px;
	padding: 0px;
}

.topBox .true{
	background-color: #47C0EC;
}

.logo {
	height: 200px;
	background-color: #aaaaaa;
}

.searchBox {
	 border: 1px gray solid;
	padding: 11px;
	background-color: #F4F3E8;


}

.inputKeyword {
	margin-top: 22px;
	border-bottom: 1px #dddddd solid;

	display: -webkit-flex;
  	display: flex;
}

.inputKeyword input {
	font-size: 1em;
	height: 33px;
    -webkit-flex: 1;
    flex: 1;

}

.submitSearch {
	background-color: #47C0EC;
    -webkit-flex: none;
    flex: none;
     display: flex;

    align-items: center;
    justify-content: center;
  	width: 55px;

}
.submitSearch button {
	font-size: 1em;

}

.active {
	border: 1px gray solid;
	padding: 11px;

}
.active .title {
	font-size: 1.1em;
}
.buttonMore {
	display: flex;
	justify-content: center;
}
.buttonMore button {
	margin: 0px;
	padding: 0px;
	border: 1px #dddddd solid;
	background-color: white;
	border-radius: 5px;
	font-size: 1em;
	padding: 5px;
	height: 25px;
}

.groupBox {
	background-color: #E5EBEF;
	border-radius: 9px;

	padding: 11px;
	margin-top: 9px;
}
.groupTopic {
	font-weight: bold;
	font-size: 1em;
}
.groupNum {
	float: right;
	font-size: 1em;
}
.groupScope {
	font-size: 0.9em;
}



.footer {
	position: fixed;
	bottom: 0;
	left: 0;
}